@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Safe Tech</title>
  <link rel="stylesheet" href="landing-page-stylesheet.css"> 

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  


</head>
<body>
  <!--------Header-------->
  <div class="container">
    <div class="navbar">
      <div class="logo">
          <img src="~/pictures/logo.png" alt="LOGO" width="85px" height="85px">
      </div>
      <nav>
          <ul>
            <li> <a href="">Home</a> </li>
            <li class="sab-menu"> <a href="">Product <i class="fa fa-caret-down"></i></a> </li>
                  <ul>
                    <li> <a href="">Bits</a></li>
                    <li> <a href="">Chains</a></li>
                    <li> <a href="">Saddles</a></li>
                    <li> <a href="">sappers</a></li>
                  </ul>
            <li> <a href="">About</a> </li>
            <li> <a href="">Contact</a> </li>
            <li> <a href="">Visit On Map</a> </li>
          
          </ul>
      </nav>
    </div>
  </div>




<!--------Single Item Details-------(CART)-------->


<div class="small-container single-product">
  <div class="row">
    <div class="col-2">
      <img src="~/pictures/sliding-img-4.png"  width="100%" >

      <div class="small-img-row">
        <div class="small-img-col">
          <img src="~/pictures/product-13.png" width="100%">
        </div>
        <div class="small-img-col">
          <img src="~/pictures/product-14.png" width="100%">
        </div>
        <div class="small-img-col">
          <img src="~/pictures/product-15.png" width="100%">
        </div>
        <div class="small-img-col">
          <img src="~/pictures/product-16.png" width="100%">
        </div>
      </div>
    </div>
    <div class="col-2">
      <p>Home / Chain  </p>
      <h1>Walsh Jumper Horse Lead</h1>
      <h4>Price: $100.00</h4>
      <select>
        <option>Select Size</option>
        <option>XXl</option>
        <option>XL</option>
        <option>Large</option>
        <option>Medium</option>
        <option>Small</option>
      </select>
      <input type="number" value="1">
      <a href="" class="cart-btn">Add to Cart</a>
      <h3>Product Details <i class="fa fa-indent"></i></h3>
      <br>
      <p>A new innovation from Walsh. This Jumper Horse Lead is equipped with 2 split 9″ long chains. 
        It can be attached to the halter or to the bit. Especially useful for leadline or in-hand classes. 
        Size:The lead is 6 ft long (72 inches) and 1 ” wide. The two metal chains are 9″ long.</p>
    </div>
  </div>
</div>

















<!--------- Products--------->

<div class="small-container">
  <div class="row">
      <div class="col-4">
          <img src="~/pictures/product-1.png">
              <h4>Sterling Silver Santa</h4>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                  </div>
              <p>$300.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-2.png">
            <h4>Genuine Leather Horse Ridding Saddle</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
      <div class="col-4">
      <img src="~/pictures/product-3.png">
          <h4>Custom Chihuahua Spurs </h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
          <p>$220.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-4.png">
            <h4>Arabian Bits Archives-Principe Silver</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
            <p>$280.00</p>
    </div>

  </div>

</div>










<!--------Footer------->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Andriod and ios Mobiles.</p>
                  <div class="app-logo">
                    <img src="~/pictures/app-store.png">
                    <img src="~/pictures/play-store.png">
                  </div>
            </div>
            <div class="footer-col-2">
                <img src="pictures/footer-pic.png">
                <p>Our Purpose Is To Sustainably Make The Pleasure and
                  Benefits for Animal Life Accessible to The Many</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                  <li>Coupans</li>
                  <li>Blog Post</li>
                  <li>Return Policy</li>
                  <li>Join affilitiate</li>
                </ul>
            </div>
            <div class="footer-col-4">
              <h3>Follow us</h3>
              <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>YouTube</li>
              </ul>
            </div>

        </div>
      <hr>
      <p class="copyright">copyright 2022</p>
    </div>

</div>


</body>
</html>
