@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
<div class="container">
    <div class="navbar">
      <div class="logo">
          <img src="~/pictures/logo.png" alt="LOGO" width="85px" height="85px">
      </div>
      <nav>
          <ul>
            <li> <a asp-controller="Home" asp-action="landingpage">Home</a> </li>
            <li> <a asp-controller="Home" asp-action="products">Product</a> </li>
            <li> <a asp-controller="Home" asp-action="products">About</a> </li>
            <li> <a asp-controller="Home" asp-action="contact">Contact</a> </li>
            <li> <a asp-controller="Home" asp-action="map">Visit on Map</a> </li>
          
          </ul>
      </nav>
    </div>
  </div>

    <div class="row">
        <div class="col-1">
            <h1>Ride Wear & Care!</h1>
            <p class="landing-discription">Success isn't always about greatness. it's about
              consistency. Consistant<br>hard work gains success. Greatness 
              will come.</p>
        </div>
        <div class="col-2">
            <figure>
              <div class="slide">
                  
                  <img src="~/pictures/sliding-img-1.png" alt="Picture" style="width: 550px">

                  

                    <div class="slide-discription-bottom-sale">
                      <a href="sale-products/sale-products.html">Sale!</a>
                    </div>
                      <div class="slide-discription-bottom">
                          <h2>FES Black Steel<br>Wire Correction Bit</h2>
                          <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                          </div>
                          <p>$50.00</p>
                      </div>  
              </div>
              <div class="slide">
                  <img src="~/pictures/sliding-img-2.png" alt="Picture" style="width: 550px">
                  <div class="slide-discription-bottom-sale">
                    <a href="sale-products/sale-products.html">Sale!</a>
                  </div>
                  <div class="slide-discription-bottom">
                    <h2>Crystal custom horse<br>riding helmet</h2>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
              </div>
              <div class="slide">
                  <img src="~/pictures/sliding-img-3.png" alt="Picture" style="width: 550px">
                  <div class="slide-discription-bottom-sale">
                    <a href="sale-products/sale-products.html">Sale!</a>
                  </div>
                  <div class="slide-discription-bottom">
                    <h2>
                      1Pcs Simple Elegant Design<br>Western Stirrup</h2>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
              </div>
              <div class="slide">
                  <img src="~/pictures/sliding-img-4.png" alt="Picture" style="width: 550px">
                  <div class="slide-discription-bottom-sale">
                    <a href="sale-products/sale-products.html">Sale!</a>
                  </div>
                  <div class="slide-discription-bottom">
                    <h2>FES Black Steel<br>Wire Correction Bit</h2>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
             </div>
               
            </figure>
            
        </div>
      </div>
  
    <!-----Feature Catagories--------->

    <div class="categories">
        <div class="small-container">
          <div class="row">
            <div class="col-3">
                <li> <a asp-controller="Home" asp-action="cart"><img style="border-radius: 15px" src="~/pictures/categories-1.png"></a> </li>
                
            </div>
            <div class="col-3">
                <li> <a asp-controller="Home" asp-action="cart"><img style="border-radius: 15px" src="~/pictures/categories-2.png"></a> </li>
              
            </div>
            <div class="col-3">
                <li> <a asp-controller="Home" asp-action="cart"><img style="border-radius: 15px" src="~/pictures/categories-3.png"></a> </li>
              
            </div>
        </div>
    </div>
        
  </div>


<!-----Featured Products--------->




<div class="small-container">
    <h3 class="title">Featured Products</h3>
    <div class="row">
        <div class="col-4">
            <img src="~/pictures/product-1.png">
                <h4>Sterling Silver Santa</h4>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                    </div>
                <p>$300.00</p>
        </div>
        <div class="col-4">
          <img src="~/pictures/product-2.png">
              <h4>Genuine Leather Horse Ridding Saddle</h4>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
              <p>$200.00</p>
        </div>
        <div class="col-4">
        <img src="~/pictures/product-3.png">
            <h4>Custom Chihuahua Spurs </h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$220.00</p>
        </div>
        <div class="col-4">
          <img src="~/pictures/product-4.png">
              <h4>Arabian Bits Archives-Principe Silver</h4>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                  </div>
              <p>$280.00</p>
      </div>

    </div>

</div>

<div style="height: 600px; width: full; display:flex">

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13465.025397188152!2d74.5140705!3d32.4658345!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4798a62d873730fd!2z2LPbjNin2YTaqdmI2bkg24zZiNmG24zZiNix2LPZuduMIFVuaXZlcnNpdHkgb2YgU2lhbGtvdA!5e0!3m2!1sen!2s!4v1658056602108!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

<!--------Footer------->

<div class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col-1">
              <h3>Download Our App</h3>
              <p>Download App for Andriod and ios Mobiles.</p>
                <div class="app-logo">
                  <img src="~/pictures/app-store.png">
                  <img src="~/pictures/play-store.png">
                </div>
          </div>
          <div class="footer-col-2">
              <img src="~/pictures/footer-pic.png" >
              <p>Our Purpose Is To Sustainably Make The Pleasure and
                Benefits for Animal Life Accessible to The Many</p>
          </div>
          <div class="footer-col-3">
              <h3>Useful Links</h3>
              <ul>
                <li>Coupans</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Join affilitiate</li>
              </ul>
          </div>
          <div class="footer-col-4">
            <h3>Follow us</h3>
            <ul>
              <li>Facebook</li>
              <li>Instagram</li>
              <li>Twitter</li>
              <li>YouTube</li>
            </ul>
          </div>

      </div>
    <hr>
    <p class="copyright">copyright 2022</p>
  </div>

</div>
</body>
