@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--------Header-------->
  <div class="container">
    <div class="navbar">
      <div class="logo">
          <img src="~/pictures/logo.png" alt="LOGO" width="85px" height="85px">
      </div>
      <nav>
          <ul>
            <li> <a asp-controller="Home" asp-action="landingpage">Home</a> </li>
            <li> <a asp-controller="Home" asp-action="products">Product</a> </li>
            <li> <a asp-controller="Home" asp-action="products">About</a> </li>
            <li> <a asp-controller="Home" asp-action="contact">Contact</a> </li>
            <li> <a asp-controller="Home" asp-action="map">Visit on Map</a> </li>
          
          </ul>
      </nav>
    </div>
  </div>
<div style="height: 600px; width: full; display:flex">

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13465.025397188152!2d74.5140705!3d32.4658345!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4798a62d873730fd!2z2LPbjNin2YTaqdmI2bkg24zZiNmG24zZiNix2LPZuduMIFVuaXZlcnNpdHkgb2YgU2lhbGtvdA!5e0!3m2!1sen!2s!4v1658056602108!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>


  
<!--------Footer------->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Andriod and ios Mobiles.</p>
                  <div class="app-logo">
                    <img src="~/pictures/app-store.png">
                    <img src="~/pictures/play-store.png">
                  </div>
            </div>
            <div class="footer-col-2">
                <img src="~/pictures/footer-pic.png">
                <p>Our Purpose Is To Sustainably Make The Pleasure and
                  Benefits for Animal Life Accessible to The Many</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                  <li>Coupans</li>
                  <li>Blog Post</li>
                  <li>Return Policy</li>
                  <li>Join affilitiate</li>
                </ul>
            </div>
            <div class="footer-col-4">
              <h3>Follow us</h3>
              <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>YouTube</li>
              </ul>
            </div>

        </div>
      <hr>
      <p class="copyright">copyright 2022</p>
    </div>

</div>