@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

  <!------Header------------>
  <div class="container">
    <div class="navbar">
      <div class="logo">
          <img src="~/pictures/logo.png" alt="LOGO" width="85px" height="85px">
      </div>
      <nav>
          <ul>
           <li> <a asp-controller="Home" asp-action="landingpage">Home</a> </li>
            <li> <a asp-controller="Home" asp-action="products">Product</a> </li>
            <li> <a asp-controller="Home" asp-action="products">About</a> </li>
            <li> <a asp-controller="Home" asp-action="contact">Contact</a> </li>
            <li> <a asp-controller="Home" asp-action="map">Visit on Map</a> </li>
          
          </ul>
      </nav>
    </div>
  </div>  
   
<!-----------Products--------->

<div class="small-container">
    <h3 class="title">Products</h3>
    <div class="row">
        <div class="col-4">
            <img src="~/pictures/product-1.png">
                <h4>Sterling Silver Santa</h4>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                    </div>
                <p>$300.00</p>
        </div>
        <div class="col-4">
          <img src="~/pictures/product-2.png">
              <h4>Genuine Leather Horse Ridding Saddle</h4>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </div>
              <p>$200.00</p>
        </div>
        <div class="col-4">
        <img src="~/pictures/product-3.png">
            <h4>Custom Chihuahua Spurs </h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$220.00</p>
        </div>
        <div class="col-4">
          <img src="~/pictures/product-4.png">
              <h4>Arabian Bits Archives-Principe Silver</h4>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                  </div>
              <p>$280.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-5.png">
            <h4>pet supplies wholesale, lead rope, horse halters</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-6.png">
            <h4>Mac Tack | Custom Made Horse Gear</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-7.png">
            <h4>Mac Tack | Custom Made Horse Gear</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-8.png">
            <h4>Valhoma Horse Products - Tack</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-9.png">
            <h4>Barrel 20 Drop Cheek</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-10.png">
            <h4>HORSE BITS</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-11.png">
            <h4>Forbes & Co. Horsewear</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-12.png">
            <h4>Western Horse bits</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-13.png">
            <h4>Leather Lead Chain with Disc</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-14.png">
            <h4>Weaver Leather Lead with 24" Chain </h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-15.png">
            <h4>Fancy Stitched Leather Lead Chain</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
      <div class="col-4">
        <img src="~/pictures/product-16.png">
            <h4>30 Inch Brass Chain Big Dee's Horse Tack & Vet Supplies</h4>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
            <p>$200.00</p>
      </div>
    </div>

</div>

<!--------Footer------->

<div class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col-1">
              <h3>Download Our App</h3>
              <p>Download App for Andriod and ios Mobiles.</p>
                <div class="app-logo">
                  <img src="~/pictures/app-store.png">
                  <img src="~/pictures/play-store.png">
                </div>
          </div>
          <div class="footer-col-2">
              <img src="~/pictures/footer-pic.png">
              <p>Our Purpose Is To Sustainably Make The Pleasure and
                Benefits for Animal Life Accessible to The Many</p>
          </div>
          <div class="footer-col-3">
              <h3>Useful Links</h3>
              <ul>
                <li>Coupans</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Join affilitiate</li>
              </ul>
          </div>
          <div class="footer-col-4">
            <h3>Follow us</h3>
            <ul>
              <li>Facebook</li>
              <li>Instagram</li>
              <li>Twitter</li>
              <li>YouTube</li>
            </ul>
          </div>

      </div>
    <hr>
    <p class="copyright">copyright 2022</p>
  </div>

</div>



